<header class="header">
  <img class="logo-img" src="../../../../assets/img/logo.png" alt="logo">
  <div class="header__links-container">
    <div class="link_container">
      <h4 class="links-title" (click)="scrollToElement('main_info')">Home</h4>
      <div class="links-title_dot"></div>
    </div>
    <h4 class="links-title" (click)="scrollToElement('about')">About us</h4>
    <h4 class="links-title" (click)="scrollToElement('resources')">Resources</h4>
    <h4 class="links-title" (click)="scrollToElement('contact')">Contact</h4>
    <img class="earth-img" src="../../../../assets/icons/icon-earth.png" alt="earth">
  </div>
</header>
