<footer class="footer">
  <div class="footer-container">
    <div class="footer-container-start">
      <img class="footer-container-start_logo" src="../../../../assets/img/logo.png" alt="logo">
      <div class="footer-container-start_location">
        <img class="footer-container-start_location__icon" src="../../../../assets/icons/icon_location.png"
             alt="location_icon">
        <p class="footer-container-start_location__info">LuxSpace Sàrl<br>
          9, rue Pierre Werner L-6832<br>
          Betzdorf
        </p>
      </div>
    </div>
    <div class="footer-container-contact">
      <h4 class="footer-container-contact_title">Contact</h4>
      <div class="footer-container-contact_email">
        <img class="footer-container-contact_email_img" src="../../../../assets/icons/icon-mail.png" alt="email">
        <p class="footer-container-contact_email_text">info@luxspace.lu</p>
      </div>
      <div class="footer-container-contact_phone">
        <img class="footer-container-contact_phone_img" src="../../../../assets/icons/icon-phone.png" alt="fax">
        <p class="footer-container-contact_phone_text">+352 267890-4000</p>
      </div>
      <div class="footer-container-contact_fax">
        <img class="footer-container-contact_fax_img" src="../../../../assets/icons/icon-fax.png" alt="fax">
        <p class="footer-container-contact_fax_text">+352 267890-4049</p>
      </div>
    </div>
    <div class="footer-container-pdf">
      <h4 class="footer-container-pdf_title">Visiting LuxSpace</h4>
      <div class="footer-container-pdf_info">
        <img class="footer-container-pdf_info__img" src="../../../../assets/icons/icon-vector_footer.png" alt="vector">
        <p class="footer-container-pdf_info__text">Visiting LuxSpace<br>(PDF)</p>
      </div>
    </div>
    <div class="footer-container-social_media">
      <h4 class="footer-container-social_media__title">Visiting LuxSpace</h4>
      <img class="footer-container-social_media__icon" src="../../../../assets/icons/icon-fb.png" alt="fb">
    </div>
  </div>
  <div class="footer-sub">
    <p class="footer-sub__info">Impressum</p>
    <p class="footer-sub__info">© Copyright 2022 by edutec.lu. All rights reserved.</p>
    <p class="footer-sub__info"> Terms of use</p>
  </div>
</footer>
