<div class="container_card">
  <div class="container_card_header">
  <img class="container_card_header__img" [src]="imgSrc" alt="chip">
  <h2 class="container_card_header__title">{{cardTitle}}</h2>
  </div>
  <div class="container_card_info">
  <p class="container_card_info__text"> {{cardInfo}}</p>
  </div>
  <div class="container_card_link">
    <h4 class="container_card_link__text">Read More</h4>
    <img class="container_card_link__img" src="../../../../assets/icons/icon-vector.png" alt="vector">
  </div>
</div>
